
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}


<h3>Welcome, @ViewData["AdminID"]</h3>

<div style="margin-top:40px">
    @using (Html.BeginForm("AddProduct", "Admin", FormMethod.Get))
    {
        <input class="btn btn-primary btn-lg" type="Submit" value="Add Product" />
    }
</div>

<div style="margin-top:40px">
@using (Html.BeginForm("ViewProducts", "Admin"))
{
    <input class="btn btn-primary btn-lg" type="Submit" value="View Products" />
}
</div>

<div style="margin-top:40px">
    @using (Html.BeginForm("ViewOrders", "Admin"))
    {
        <input class="btn btn-primary btn-lg" type="Submit" value="View Orders" />
    }
</div>

<div style="margin-top:40px">
    @using (Html.BeginForm("LogOut", "Admin"))
    {
        <input class="btn btn-danger " type="Submit" value="Log Out" />
    }
</div>



