
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link rel="stylesheet" href="~/Content/CSS/HomeIndex.css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
@{
    Html.RenderPartial("_MenuBar");
}
<div id="backgroundImg" >

    <div id="shopNowBtndiv">
        @Html.ActionLink("Shop Now", "FilterProducts", "Home", new {@id="ShopNowbtn", @class = "btn btn-outline-light" })
    </div>
    <img id="bgCopy" src="~/Content/Images/HomeIndexBg.jpg" />
</div>


<hr />
<footer>
    <p>&copy; @DateTime.Now.Year - SmartPhone Store</p>
</footer>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
